In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
cars = pd.read_csv('AutoData.csv')
cars.head()

,symboling,make,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [3]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   symboling         205 non-null    int64
 1   make              205 non-null    object
 2   fueltype          205 non-null    object
 3   aspiration        205 non-null    object
 4   doornumber        205 non-null    object
 5   carbody           205 non-null    object
 6   drivewheel        205 non-null    object
 7   enginelocation    205 non-null    object
 8   wheelbase         205 non-null    float64
 9   carlength         205 non-null    float64
 10  carwidth          205 non-null    float64
 11  carheight         205 non-null    float64
 12  curbweight        205 non-null    int64
 13  enginetype        205 non-null    object
 14  cylindernumber    205 non-null    object
 15  enginesize        205 non-null    int64
 16  fuelsystem        205 non-null    object
 17  boreratio         205 non-null    float64
 18  stroke            205 non-null    float64
 19  compressionratio  205 non-null    float64
 20  horsepower        205 non-null    int64
 21  peakrpm           205 non-null    int64
 22  citympg           205 non-null    int64
 23  highwaympg        205 non-null    int64
 24  price             205 non-null    float64
dtypes: float64(8), int64(7), object(10)
memory usage: 40.2+ KB

In [4]:
cars.iloc[:,9:16]

,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize
0,168.8,64.1,48.8,2548,dohc,four,130
1,168.8,64.1,48.8,2548,dohc,four,130
2,171.2,65.5,52.4,2823,ohcv,six,152
3,176.6,66.2,54.3,2337,ohc,four,109
4,176.6,66.4,54.3,2824,ohc,five,136
...,...,...,...,...,...,...,...
200,188.8,68.9,55.5,2952,ohc,four,141
201,188.8,68.8,55.5,3049,ohc,four,141
202,188.8,68.9,55.5,3012,ohcv,six,173
203,188.8,68.9,55.5,3217,ohc,six,145
204,188.8,68.9,55.5,3062,ohc,four,141

In [5]:
Company = cars['make'].apply(lambda x: x.split(' ')[0])
cars.insert(3,'Company',Company)
cars.drop(['make'],axis = 1,inplace = True)

In [6]:
cars.Company = cars.Company.str.lower()

cars.Company.replace('maxda','mazda',inplace = True)
cars.Company.replace('toyouta','toyota',inplace = True)
cars.Company.replace('vokswagen','volkswagen',inplace = True)
cars.Company.replace('vw','volkswagen',inplace = True)
cars.Company.replace('porcshce','porsche',inplace = True)

In [7]:
cars.head()

,symboling,fueltype,Company,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,3,gas,alfa-romero,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,gas,alfa-romero,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,gas,alfa-romero,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,gas,audi,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,gas,audi,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [8]:
cars['Company'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'buick', 'mercury', 'mitsubishi',
       'nissan', 'peugeot', 'plymouth', 'porsche', 'renault', 'saab',
       'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [9]:
temp = pd.get_dummies(cars['Company'],drop_first  = True)
temp.shape

(205, 21)

In [10]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   symboling         205 non-null    int64
 1   fueltype          205 non-null    object
 2   Company           205 non-null    object
 3   aspiration        205 non-null    object
 4   doornumber        205 non-null    object
 5   carbody           205 non-null    object
 6   drivewheel        205 non-null    object
 7   enginelocation    205 non-null    object
 8   wheelbase         205 non-null    float64
 9   carlength         205 non-null    float64
 10  carwidth          205 non-null    float64
 11  carheight         205 non-null    float64
 12  curbweight        205 non-null    int64
 13  enginetype        205 non-null    object
 14  cylindernumber    205 non-null    object
 15  enginesize        205 non-null    int64
 16  fuelsystem        205 non-null    object
 17  boreratio         205 non-null    float64
 18  stroke            205 non-null    float64
 19  compressionratio  205 non-null    float64
 20  horsepower        205 non-null    int64
 21  peakrpm           205 non-null    int64
 22  citympg           205 non-null    int64
 23  highwaympg        205 non-null    int64
 24  price             205 non-null    float64
dtypes: float64(8), int64(7), object(10)
memory usage: 40.2+ KB

In [11]:
new_cars = cars

In [12]:
def ohe(x,df):
    temp = pd.get_dummies(df[x], drop_first = True)
    df = pd.concat([df, temp], axis = 1)
    df.drop([x], axis = 1, inplace = True)
    return df

new_cars = ohe('symboling',new_cars)
new_cars = ohe('fueltype',new_cars)
new_cars = ohe('Company',new_cars)
new_cars = ohe('aspiration',new_cars)
new_cars = ohe('doornumber',new_cars)
new_cars = ohe('carbody',new_cars)
new_cars = ohe('drivewheel',new_cars)
new_cars = ohe('enginelocation',new_cars)
new_cars = ohe('enginetype',new_cars)
new_cars = ohe('cylindernumber',new_cars)
new_cars = ohe('fuelsystem',new_cars)

In [13]:
new_cars['Price'] = new_cars.price

In [14]:
new_cars.drop('price', axis = 1, inplace = True)

In [15]:
new_cars.columns

Index([       'wheelbase',        'carlength',         'carwidth',
              'carheight',       'curbweight',       'enginesize',
              'boreratio',           'stroke', 'compressionratio',
             'horsepower',          'peakrpm',          'citympg',
             'highwaympg',                 -1,                  0,
                        1,                  2,                  3,
                    'gas',             'audi',              'bmw',
                  'buick',        'chevrolet',            'dodge',
                  'honda',            'isuzu',           'jaguar',
                  'mazda',          'mercury',       'mitsubishi',
                 'nissan',          'peugeot',         'plymouth',
                'porsche',          'renault',             'saab',
                 'subaru',           'toyota',       'volkswagen',
                  'volvo',            'turbo',              'two',
                'hardtop',        'hatchback',            'sedan',
                  'wagon',              'fwd',              'rwd',
                   'rear',            'dohcv',                'l',
                    'ohc',             'ohcf',             'ohcv',
                  'rotor',             'five',             'four',
                    'six',            'three',           'twelve',
                    'two',             '2bbl',             '4bbl',
                    'idi',              'mfi',             'mpfi',
                   'spdi',             'spfi',            'Price'],
      dtype='object')

In [16]:
new_cars.shape

(205, 69)

# SelectKBest

In [58]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
X = new_cars.iloc[:,:68]
y = new_cars.iloc[:,-1]

# Always make sure that the x & y variables have same dtypes so that they there is no value error

X = X.astype(int)
y = y.astype(int)

In [59]:
bestfeatures = SelectKBest(score_func = chi2, k = 10) 
fit = bestfeatures.fit(X,y)

In [60]:
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)

In [61]:
#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns

In [62]:
featureScores

         Specs         Score
0    wheelbase     75.748052
1    carlength    175.693077
2     carwidth     14.511372
3    carheight     22.687397
4   curbweight  21591.585590
..         ...           ...
63         idi    174.750000
64         mfi    204.000000
65        mpfi    108.819149
66        spdi    184.611111
67        spfi    204.000000

[68 rows x 2 columns]

In [67]:
featureScores['Specs'].unique()

array(['wheelbase', 'carlength', 'carwidth', 'carheight', 'curbweight',
       'enginesize', 'boreratio', 'stroke', 'compressionratio',
       'horsepower', 'peakrpm', 'citympg', 'highwaympg', -1, 0, 1, 2, 3,
       'gas', 'audi', 'bmw', 'buick', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercury', 'mitsubishi', 'nissan',
       'peugeot', 'plymouth', 'porsche', 'renault', 'saab', 'subaru',
       'toyota', 'volkswagen', 'volvo', 'turbo', 'two', 'hardtop',
       'hatchback', 'sedan', 'wagon', 'fwd', 'rwd', 'rear', 'dohcv', 'l',
       'ohc', 'ohcf', 'ohcv', 'rotor', 'five', 'four', 'six', 'three',
       'twelve', '2bbl', '4bbl', 'idi', 'mfi', 'mpfi', 'spdi', 'spfi'],
      dtype=object)

In [74]:
# Selecting top features with highest scores
# Remember higher the score better the feature
BestFea = featureScores.nlargest(60,'Score')
BestFea

               Specs         Score
4         curbweight  21591.585590
10           peakrpm   8913.323895
9         horsepower   3048.935017
5         enginesize   2781.728802
11           citympg    343.409574
12        highwaympg    311.282360
8   compressionratio    311.186974
59            twelve    204.000000
49             dohcv    204.000000
28           mercury    204.000000
64               mfi    204.000000
67              spfi    204.000000
58             three    204.000000
34           renault    203.000000
26            jaguar    202.000000
48              rear    202.000000
62              4bbl    202.000000
22         chevrolet    202.000000
25             isuzu    201.000000
54             rotor    201.000000
60               two    201.000000
33           porsche    200.000000
19              audi    198.000000
21             buick    197.000000
20               bmw    197.000000
42           hardtop    197.000000
39             volvo    194.000000
55              five    194.000000
29        mitsubishi    192.000000
30            nissan    187.000000
31           peugeot    184.681818
66              spdi    184.611111
36            subaru    184.458333
50                 l    184.458333
53              ohcv    184.115385
24             honda    184.115385
52              ohcf    183.166667
35              saab    181.916667
13                -1    178.340909
57               six    176.729167
27             mazda    175.941176
38        volkswagen    175.916667
1          carlength    175.693077
63               idi    174.750000
37            toyota    173.000000
45             wagon    171.800000
17                 3    170.407407
16                 2    166.593750
40             turbo    165.229730
15                 1    143.407407
61              2bbl    132.787879
43         hatchback    130.607143
14                 0    130.350746
23             dodge    127.666667
47               rwd    127.651316
41               two    110.444444
32          plymouth    110.142857
65              mpfi    108.819149
44             sedan    104.729167
46               fwd     83.291667

In [75]:
BestFea['Specs'].unique()

array(['curbweight', 'peakrpm', 'horsepower', 'enginesize', 'citympg',
       'highwaympg', 'compressionratio', 'twelve', 'dohcv', 'mercury',
       'mfi', 'spfi', 'three', 'renault', 'jaguar', 'rear', '4bbl',
       'chevrolet', 'isuzu', 'rotor', 'two', 'porsche', 'audi', 'buick',
       'bmw', 'hardtop', 'volvo', 'five', 'mitsubishi', 'nissan',
       'peugeot', 'spdi', 'subaru', 'l', 'ohcv', 'honda', 'ohcf', 'saab',
       -1, 'six', 'mazda', 'volkswagen', 'carlength', 'idi', 'toyota',
       'wagon', 3, 2, 'turbo', 1, '2bbl', 'hatchback', 0, 'dodge', 'rwd',
       'plymouth', 'mpfi', 'sedan', 'fwd'], dtype=object)

# Creating new dataframe

In [76]:
df = new_cars[['curbweight', 'peakrpm', 'horsepower', 'enginesize', 'citympg',
       'highwaympg', 'compressionratio', 'twelve', 'dohcv', 'mercury',
       'mfi', 'spfi', 'three', 'renault', 'jaguar', 'rear', '4bbl',
       'chevrolet', 'isuzu', 'rotor', 'two', 'porsche', 'audi', 'buick',
       'bmw', 'hardtop', 'volvo', 'five', 'mitsubishi', 'nissan',
       'peugeot', 'spdi', 'subaru', 'l', 'ohcv', 'honda', 'ohcf', 'saab',
       -1, 'six', 'mazda', 'volkswagen', 'carlength', 'idi', 'toyota',
       'wagon', 3, 2, 'turbo', 1, '2bbl', 'hatchback', 0, 'dodge', 'rwd',
       'plymouth', 'mpfi', 'sedan', 'fwd']]

In [77]:
df.head()

,curbweight,peakrpm,horsepower,enginesize,citympg,highwaympg,compressionratio,twelve,dohcv,mercury,...,1,2bbl,hatchback,0,dodge,rwd,plymouth,mpfi,sedan,fwd
0,2548,5000,111,130,21,27,9.0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1,2548,5000,111,130,21,27,9.0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
2,2823,5000,154,152,19,26,9.0,0,0,0,...,1,0,1,0,0,1,0,1,0,0
3,2337,5500,102,109,24,30,10.0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
4,2824,5500,115,136,18,22,8.0,0,0,0,...,0,0,0,0,0,0,0,1,1,0

# Scaling the data

In [78]:
xdep = df

In [79]:
from sklearn.preprocessing import MinMaxScaler

In [80]:
scaler = MinMaxScaler()

In [81]:
xdep = scaler.fit_transform(xdep)

## Spliting into training and testing

In [82]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(xdep,y, test_size = 0.2, random_state = 100)

# Linear Regression model

In [83]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [84]:
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [85]:
predict = model.predict(X_test)
predict

array([ 8948.5920394 ,  9663.91632883, 11079.67615604, 11231.79650183,
        5833.52849515, 11375.87268758, 14562.58920631, 19494.55196247,
       16161.38956541, 15846.59798467, 20658.26433678, 17370.8096844 ,
       12348.63891939, 11432.31066648, 40088.62077214,  4845.22166388,
        6802.41927887, 14083.00420125, 13137.11750131, 14707.57151464,
       20372.34465666, 20680.3441332 , 34330.26760704,  6985.22521115,
       11081.04929965, 16072.12181503, 14566.16056677, 27213.97161617,
       21516.16370429,  9054.40924924,  4102.05117044, 33148.10341465,
       16992.5526344 , 22301.10039825, 12361.31022261, 10191.96198978,
       14436.49180256, 11164.12613661,  6758.99851843,  8798.36634283,
       38523.86232651])

## Model Evaluation

In [86]:
from sklearn.metrics import r2_score, accuracy_score
r2_score(y_test,predict)

0.8995572427570322

# Random Forest Model

In [88]:
from sklearn.ensemble import RandomForestRegressor

In [89]:
rfr = RandomForestRegressor()

In [90]:
rfr.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [91]:
rfrpredict = rfr.predict(X_test)

In [96]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [95]:
r2_score(y_test,rfrpredict)

0.8979296088615931

In [104]:
param_grid = {'n_estimators' : [40,80,100,130],
              'max_features':['auto','sqrt','log2'],
              'max_depth':[20,30,40,None],
              'min_samples_split':[1,2,5,7]}

In [105]:
from sklearn.model_selection import RandomizedSearchCV

In [106]:
random_search = RandomizedSearchCV(rfr, param_distributions = param_grid, n_iter = 10, cv = 10)

In [107]:
random_search.fit(X_train, y_train)

C:\Users\ranje\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: min_samples_split must be an integer greater than 1 or a float in (0.0, 1.0]; got the integer 1

  FitFailedWarning)
C:\Users\ranje\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: min_samples_split must be an integer greater than 1 or a float in (0.0, 1.0]; got the integer 1

  FitFailedWarning)
C:\Users\ranje\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: min_samples_split must be an integer greater than 1 or a float in (0.0, 1.0]; got the integer 1

  FitFailedWarning)
C:\Users\ranje\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: min_samples_split must be an integer greater than 1 or a float in (0.0, 1.0]; got the integer 1

  FitFailedWarning)
C:\Users\ranje\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: min_samples_split must be an integer greater than 1 or a float in (0.0, 1.0]; got the integer 1

  FitFailedWarning)
C:\Users\ranje\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: min_samples_split must be an integer greater than 1 or a float in (0.0, 1.0]; got the integer 1

  FitFailedWarning)
C:\Users\ranje\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: min_samples_split must be an integer greater than 1 or a float in (0.0, 1.0]; got the integer 1

  FitFailedWarning)
C:\Users\ranje\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: min_samples_split must be an integer greater than 1 or a float in (0.0, 1.0]; got the integer 1

  FitFailedWarning)
C:\Users\ranje\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: min_samples_split must be an integer greater than 1 or a float in (0.0, 1.0]; got the integer 1

  FitFailedWarning)
C:\Users\ranje\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: min_samples_split must be an integer greater than 1 or a float in (0.0, 1.0]; got the integer 1

  FitFailedWarning)
C:\Users\ranje\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: min_samples_split must be an integer greater than 1 or a float in (0.0, 1.0]; got the integer 1

  FitFailedWarning)
C:\Users\ranje\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: min_samples_split must be an integer greater than 1 or a float in (0.0, 1.0]; got the integer 1

  FitFailedWarning)
C:\Users\ranje\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: min_samples_split must be an integer greater than 1 or a float in (0.0, 1.0]; got the integer 1

  FitFailedWarning)
C:\Users\ranje\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: min_samples_split must be an integer greater than 1 or a float in (0.0, 1.0]; got the integer 1

  FitFailedWarning)
C:\Users\ranje\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: min_samples_split must be an integer greater than 1 or a float in (0.0, 1.0]; got the integer 1

  FitFailedWarning)
C:\Users\ranje\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: min_samples_split must be an integer greater than 1 or a float in (0.0, 1.0]; got the integer 1

  FitFailedWarning)
C:\Users\ranje\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: min_samples_split must be an integer greater than 1 or a float in (0.0, 1.0]; got the integer 1

  FitFailedWarning)
C:\Users\ranje\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: min_samples_split must be an integer greater than 1 or a float in (0.0, 1.0]; got the integer 1

  FitFailedWarning)
C:\Users\ranje\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: min_samples_split must be an integer greater than 1 or a float in (0.0, 1.0]; got the integer 1

  FitFailedWarning)
C:\Users\ranje\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: min_samples_split must be an integer greater than 1 or a float in (0.0, 1.0]; got the integer 1

  FitFailedWarning)

RandomizedSearchCV(cv=10, error_score=nan,
                   estimator=RandomForestRegressor(bootstrap=True,
                                                   ccp_alpha=0.0,
                                                   criterion='mse',
                                                   max_depth=None,
                                                   max_features='auto',
                                                   max_leaf_nodes=None,
                                                   max_samples=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=1,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   n_estimators=100,
                                                   n_jobs=None, oob_score=False,
                                                   random_state=None, verbose=0,
                                                   warm_start=False),
                   iid='deprecated', n_iter=10, n_jobs=None,
                   param_distributions={'max_depth': [20, 30, 40, None],
                                        'max_features': ['auto', 'sqrt',
                                                         'log2'],
                                        'min_samples_split': [1, 2, 5, 7],
                                        'n_estimators': [40, 80, 100, 130]},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring=None, verbose=0)

In [108]:
print('Best score for data:', random_search.best_score_)
print('Best Criterion:', random_search.best_estimator_.n_estimators)
print('Best Max Depth:', random_search.best_estimator_.max_depth)
print('Best Max Features:', random_search.best_estimator_.max_features)
print('Best Min samples split:', random_search.best_estimator_.min_samples_split)

Best score for data: 0.8914634413490996
Best Criterion: 80
Best Max Depth: 20
Best Max Features: sqrt
Best Min samples split: 2